 <!DOCTYPE html>
<html>
<title>HTML Tutorial</title>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

<a href="#figa1">link</a>

<div name="figa">
    <pre>
– He was born in Seoul, but spent his middle and high school days in Seongnam, South Korea.
– Yeonjun was the 1st member to be revealed on January 10th, 2019.
– His representative animal is a pupae. (Questioning Film) 
– His representative flower is a Tulip. (Questioning Film)
– At the end of his Question Fim, the morse code translates to “Promise”.
– His fandom name is “Moawajjunie”.
– Family: Dad, mom.
– His uniqueness is his monolids. (Debut showcase) 
– Hobbies: Dancing, skating, eating. (Debut showcase) 
– His introduction video surpassed 1 million views within the first 24 hours.
– He did a commercial for a ramen brand.
– Yeojun ranked 1st on dance, rap and vocals when he was a trainee.
– Yeonjun speaks English.
– His favorite fruits are apples and bananas.
– Yeonjun is the fake maknae.
– Yeonjun created the TXT hand logo/gesture. (Soompi) 
– Yeonjun said he has been a trainee for 5 years.
– Fans had thought Yeonjun was a backup dancer for BTS‘ V‘s ‘Singularity‘ live stages and MV, but he recently announced that he wasn’t.
– He also appeared on San E and Rainia‘s ‘A Midsummer Night’s Sweetness‘ back in MMA 2014.
– He is the oldest member of the group.
– He has an ear-piercing.
– He is a former CUBE Entertainment trainee.
– His favorite animals are Welsh Corgi dogs and pandas. (Spotify K-Pop Quiz) 
– Yeonjun is a fashionista. (TALK X TODAY Ep.1)
– Yeonjung is good at games. (TALK X TODAY Ep.1) 
– Yeonjun is broad-shouldered. (TALK X TODAY Ep.1) 
– Yeonjun has a nickname given by members: “Yeonttomeok” (meaning he continues to eat again). (TALK X TODAY Ep.3) 
– Yeonjun likes J Cole. (TALK X TODAY Ep.3) 
– Yeonjun loves the movie “The Intern”. (Fansign 150319)  
– Yeonjun lived in the U.S for 2 years since he was 9 years old. (Fansign 150319) 
– Yeonjun went to elementary school in America. (TALK X TODAY Ep.2) 
– When he lived in America, he stayed in San Jose, California. (Idol Room) 
– Yeonjun likes soju, beer and a mixture of both. (Fansign 150319) 
– He loves Americano. (“To Do” Ep. 61)
– He recently got interested in fashion. (“To Do” Ep. 61)
– His favorite colors are purple (Fansign  150319) and blue. (Spotify K-Pop Quiz) 
– He’s currently an MC on Inkigayo.
– Yeonjun’s Ideal Type: He says his ideal type is the fans. (Fansign 150319) 
    </pre>
</div>

<div id="figa1">
    <h1>Figa 1</h1>
    <pre>
– He was born in Taejeon-dong, Buk-gu, Daegu, South Korea.
– Beomgyu was the 5th and last member to be revealed on January 20th, 2019.
– His representative animal is a butterfly. (Questioning Film)
– His representative flower is Poppy. (Questioning Film) 
– At the end of his Questioning Film, the morse code translates to “Hope”.
– His fandom names are “Bamtori”, “Beombadan” and “Wolftoris”.
– Family: Dad, mom, an older brother.
– Hobbies: Playing guitar. (Debut showcase) 
– His nicknames are ‘Bamgyu’ and ‘Cookie’. (Debut showcase) 
– Beomgyu has the Daegu Satoori accent. (Debut showcase) 
– He can play the guitar. (Debut showcase) 
– Kai confirmed that Beomgyu is the center and a visual at a fansign.
– Beomgyu calls himself a Tiger because ‘Beom’ means ‘Tiger’.
– He is an ARMY (BTS fan).
– Beomgyu has dimples.
– His favorite season is spring. (Fansign 140319) 
– He is a student at Hanlim Multi-Arts School.
– He has been a trainee for BigHit for 3 years.
– His favorite fruit is strawberries.
– He is the mood maker of the group.
– He is good at English.
– Beomgyu talks in his sleep to the members.
– He is very good at school and had the best marks among his classmates.
– His favorite animals are bears and parrots. (Spotify K-Pop Quiz) 
– Beomgyu likes garlic bread. (TALK X TODAY Ep.3) 
– Beomgyu’s favorite colors are pink and white. (Spotify K-Pop Quiz) 
– Beomgyu has his own studio. (TALK X TODAY Ep.3) 
– Beomgyu used to stay up all night writing songs for his members. (TALK X TODAY Ep.3) 
– Beomgyu is good at claw games. (TALK X TODAY Ep.4)
– He is in a friend group called 이즈 (ee-z) with Stray Kids I.N, Enhypen Heeseung and Just B Lim Jimin. (Beomgyu’s vLive – Dec 2, 2021)
– His favorite movie is “August Rush”. (Fansign 150319) 
– Beomgyu and Taehyun are the early birds. (After School Club) 
    </pre>
</div>


</body>
</html> 
