body
{
  margin: 20px;
  background-color: #e6e6e6;
}

.block
{
  border-radius: 2px;
  border-top: 5px ridge #145a6e;
  #border-bottom: 5px ridge #145a6e;
}

.title
{
  display: inline;
}

.code
{
  background-color: #f0f0f0;
  padding: 2px;
  display: inline-block;
  white-space: pre-wrap;
  border-radius: 4px;
  border: 2px ridge gray;
}

.text
{
  display: inline;
  font-size: 14px;
}
